<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="60">
    <!-- monitorInterval="60", 每60秒配置文件会动态加载一次 -->

    <Properties>
        <!-- 定义变量 -->
        <Property name="LOG_DIR">${sys:LOG_PATH:-.}/logs</Property>
        <Property name="ROLLING_FILE_NAME">privacy-phone-client</Property>
        <Property name="NODE_NAME">${sys:clusternode:-defaultNode}</Property>
        <Property name="PATTERN_LAYOUT">${NODE_NAME} %d{yyyy/MM/dd HH:mm:ss,SSS} %-6r [%-6p] [%t] [%C{-10}.%M\(\) : %L] %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>${PATTERN_LAYOUT}</Pattern>
            </PatternLayout>
        </Console>

        <!--
            按日期，每天备份一个日志.
            immediateFlush：是否每次写入都要立刻刷新到硬盘中。默认true，如果使用默认值可能会影响性能。
        -->
        <RollingRandomAccessFile name="ROLLING_FILE"
                                 fileName="${LOG_DIR}/${ROLLING_FILE_NAME}.log"
                                 filePattern="${LOG_DIR}/${ROLLING_FILE_NAME}.%d{yyyy-MM-dd}.log"
                                 immediateFlush="false">
            <PatternLayout>
                <Pattern>${PATTERN_LAYOUT}</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 每24小时更新一次 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <!-- maxDepth=1，只匹配当前一层目录 -->
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="*.log"/>
                    <!-- 单位：D、H、M、S，分别表示天、小时、分钟、秒 ，这里配置日志只保留1天-->
                    <IfLastModified age="15D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <AsyncLogger name="com.aist" level="DEBUG"/>
        <AsyncLogger name="com.nutcracker" level="DEBUG"/>
        <AsyncLogger name="com.nutcracker.vitrual.StartApplication" level="DEBUG"/>

        <!-- sql log -->
        <AsyncLogger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
        <AsyncLogger name="org.springframework.jdbc.core.StatementCreatorUtils" level="DEBUG"/>
        <AsyncLogger name="org.springframework.data.elasticsearch.core" level="DEBUG"/>
        <AsyncLogger name="org.springframework.data.mongodb.core" level="DEBUG"/>
        <AsyncLogger name="org.springframework.data.couchbase.core" level="DEBUG"/>
        <AsyncLogger name="org.apache.ibatis.logging.jdbc.BaseJdbcLogger" level="DEBUG"/>
        <AsyncLogger name="java.sql.ResultSet" level="DEBUG"/>
        <AsyncLogger name="java.sql.Connection" level="DEBUG"/>
        <AsyncLogger name="java.sql.Statement" level="DEBUG"/>
        <AsyncLogger name="java.sql.PreparedStatement" level="DEBUG"/>

        <!-- Root Logger -->
        <AsyncRoot level="INFO" includeLocation="true">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="ROLLING_FILE"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
