<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="LOG_DIR" value="${LOG_PATH:-./logs}"/>
    <property name="PATTERN_SCRIPT" value="%date{yy/MM/dd HH:mm:ss.SSS} [%thread] [%-5level] [%c{36}.%M\(\) : %line] - %msg%n"/>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/rolling.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留近3天日志 -->
            <maxHistory>3</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN_SCRIPT}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_SCRIPT}</pattern>
        </encoder>
    </appender>

    <!-- set print log level  -->
    <logger name="com.nutcracker" level="DEBUG"/>

    <!-- print transaction -->
    <logger name="org.mybatis.spring.SqlSessionUtils" level="DEBUG"/>
    <logger name="org.springframework.transaction.interceptor.TransactionInterceptor" level="TRACE"/>
    <logger name="org.springframework.jdbc.support.JdbcTransactionManager" level="DEBUG"/>

    <!-- print request url & parameter -->
    <logger name="org.springframework.web.method.support.InvocableHandlerMethod" level="DEBUG"/>
    <logger name="org.springframework.boot.SpringApplication" level="TRACE"/>

    <!-- print sql log , but for development debug -->
    <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE"/>
    <logger name="org.apache.ibatis.jdbc.ScriptRunner" level="DEBUG"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>

    <!-- 异步输出 -->
    <appender name="ASYNC_ROLLING_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ROLLING_FILE"/>
        <!-- 设置队列入队时非阻塞，当队列满时会直接丢弃日志，但是对性能提升极大 -->
        <neverBlock>true</neverBlock>
        <!-- 新增这行为了打印栈堆信息 -->
        <includeCallerData>true</includeCallerData>
    </appender>
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <!-- 设置队列入队时非阻塞，当队列满时会直接丢弃日志，但是对性能提升极大 -->
        <neverBlock>true</neverBlock>
        <!-- 新增这行为了打印栈堆信息 -->
        <includeCallerData>true</includeCallerData>
    </appender>

    <root level="WARN">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="ASYNC_ROLLING_FILE"/>
    </root>
</configuration>
