<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nutcracker.mapper.sys.SysMenuMapper">

    <select id="findByRoleId" resultType="com.nutcracker.entity.sys.SysMenu" parameterType="java.lang.String">
        SELECT *
        FROM sys_menu as m
                 LEFT JOIN sys_menu_role as r ON m.id = r.menu_id
        WHERE m.is_show = '1'
          and r.role_id = #{roleId}
        ORDER BY m.menu_weight
    </select>

    <select id="findFirstMenu" resultType="com.nutcracker.entity.sys.SysMenu">
        SELECT *
        FROM sys_menu
        WHERE menu_level = 1
        ORDER BY menu_weight
    </select>

    <select id="findByParentId" resultType="com.nutcracker.entity.sys.SysMenu" parameterType="java.lang.String">
        SELECT *
        FROM sys_menu
        WHERE parent_id = #{parentId}
        ORDER BY menu_weight
    </select>

    <update id="updateMenu" parameterType="com.nutcracker.vo.SysMenuVO">
        update sys_menu
        set parent_id   = #{parentId},
            menu_name   = #{menuName},
            menu_code   = #{menuCode},
            menu_href   = #{menuHref},
            menu_level  = #{menuLevel},
            menu_weight = #{menuWeight},
            menu_icon   = #{menuIcon},
            is_show     = #{isShow}
        where id = #{id}
    </update>

    <insert id="addMenu" parameterType="com.nutcracker.vo.SysMenuVO">
        insert into sys_menu (id, parent_id, menu_name, menu_code, menu_href, menu_level, menu_weight, is_show,
                              create_date, create_by)
        values (#{id}, #{parentId}, #{menuName}, #{menuCode}, #{menuHref}, #{menuLevel}, #{menuWeight}, ${isShow},
                #{createDate}, #{createBy})
    </insert>

    <select id="getByName" resultType="com.nutcracker.entity.sys.SysMenu" parameterType="java.lang.String">
        select *
        from sys_menu where menu_name = #{menuName} or menu_code = #{menuCode}
        <if test="menuHref != null and menuHref != ''">or menu_href = #{menuHref}</if>
    </select>

    <select id="getById" resultType="com.nutcracker.entity.sys.SysMenu" parameterType="java.lang.String">
        select *
        from sys_menu
        where id = #{id}
    </select>

    <select id="getFirstMenu" resultType="com.nutcracker.entity.sys.SysMenu">
        SELECT *
        FROM sys_menu
        WHERE menu_level = 1
        ORDER BY menu_weight
    </select>

    <select id="getSecondMenu" resultType="com.nutcracker.entity.sys.SysMenu">
        SELECT *
        FROM sys_menu
        WHERE menu_level = 2
    </select>

    <select id="getRoleMenu" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT id
        FROM sys_menu sm
        WHERE sm.menu_level = 1
          and id in
              (select mr.menu_id
               from sys_menu_role mr
                        left join sys_menu m on mr.menu_id = m.id
               where mr.role_id = #{roleId})
        ORDER BY menu_weight
    </select>

    <select id="getMenuLevel" resultType="java.lang.String">
        select distinct menu_level
        from sys_menu
        order by menu_level asc
    </select>

    <select id="getPreviousMenu" resultType="com.nutcracker.vo.MenuNameVO" parameterType="java.lang.String">
        select id, menu_name
        from sys_menu
        where menu_level = #{menuLevel}
        order by create_date
    </select>

    <select id="getByMenuName" resultType="java.lang.String" parameterType="java.lang.String">
        select id
        from sys_menu
        where menu_name = #{menuNames}
    </select>

    <delete id="deleteMenuById" parameterType="java.lang.String">
        delete
        from sys_menu
        where id = #{id}
           or parent_id = #{id}
    </delete>

</mapper>